.type_32b { background: url('http://www.pouet.net/gfx/types/3.gif'); }
.type_64b { background: url('http://www.pouet.net/gfx/types/6.gif'); }
.type_128b { background: url('http://www.pouet.net/gfx/types/1.gif'); }
.type_256b { background: url('http://www.pouet.net/gfx/types/2.gif'); }
.type_512b { background: url('http://www.pouet.net/gfx/types/5.gif'); }
.type_1k { background: url('http://www.pouet.net/gfx/types/k.gif'); }
.type_4k { background: url('http://www.pouet.net/gfx/types/4.gif'); }
.type_8k { background: url('http://www.pouet.net/gfx/types/8.gif'); }
.type_16k { background: url('http://www.pouet.net/gfx/types/16.gif'); }
.type_32k { background: url('http://www.pouet.net/gfx/types/32_blue.gif'); }
.type_40k { background: url('http://www.pouet.net/gfx/types/40k.gif'); }
.type_64k { background: url('http://www.pouet.net/gfx/types/64_8.gif'); }
.type_80k { background: url('http://www.pouet.net/gfx/types/i.gif'); }
.type_96k { background: url('http://www.pouet.net/gfx/types/96.gif'); }
.type_100k { background: url('http://www.pouet.net/gfx/types/i.gif'); }
.type_128k { background: url('http://www.pouet.net/gfx/types/i.gif'); }
.type_256k { background: url('http://www.pouet.net/gfx/types/i.gif'); }
.type_artpack { background: url('http://www.pouet.net/gfx/types/a.gif'); }
.type_bbstro { background: url('http://www.pouet.net/gfx/types/b.gif'); }
.type_cracktro { background: url('http://www.pouet.net/gfx/types/c.gif'); }
.type_demo { background: url('http://www.pouet.net/gfx/types/d.gif'); }
.type_demopack { background: url('http://www.pouet.net/gfx/types/p.gif'); }
.type_demotool { background: url('http://www.pouet.net/gfx/types/t.gif'); }
.type_dentro { background: url('http://www.pouet.net/gfx/types/dentro.gif'); }
.type_diskmag { background: url('http://www.pouet.net/gfx/types/m.gif'); }
.type_fastdemo { background: url('http://www.pouet.net/gfx/types/d.gif'); }
.type_game { background: url('http://www.pouet.net/gfx/types/g.gif'); }
.type_intro { background: url('http://www.pouet.net/gfx/types/i.gif'); }
.type_invitation { background: url('http://www.pouet.net/gfx/types/v.gif'); }
.type_liveact { background: url('http://www.pouet.net/gfx/types/w.gif'); }
.type_musicdisk { background: url('http://www.pouet.net/gfx/types/z.gif'); }
.type_procedural_graphics { background: url('http://www.pouet.net/gfx/types/proc.gif'); }
.type_report { background: url('http://www.pouet.net/gfx/types/r.gif'); }
.type_slideshow { background: url('http://www.pouet.net/gfx/types/s.gif'); }
.type_votedisk { background: url('http://www.pouet.net/gfx/types/v.gif'); }
.type_wild { background: url('http://www.pouet.net/gfx/types/w.gif'); }


.os_beos { background: url('http://www.pouet.net/gfx/os/k_beos.gif'); }
.os_linux { background: url('http://www.pouet.net/gfx/os/k_linux.gif'); }
.os_msdos { background: url('http://www.pouet.net/gfx/os/k_msdos.gif'); }
.os_windows { background: url('http://www.pouet.net/gfx/os/k_win.gif'); }
.os_msdosgus { background: url('http://www.pouet.net/gfx/os/k_gus.gif'); }
.os_atarist { background: url('http://www.pouet.net/gfx/os/k_atari_st.gif'); }
.os_amigaaga { background: url('http://www.pouet.net/gfx/os/k_amiga_aga.gif'); }
.os_atariste { background: url('http://www.pouet.net/gfx/os/k_atari_ste.gif'); }
.os_amigaocsecs { background: url('http://www.pouet.net/gfx/os/k_amiga.gif'); }
.os_java { background: url('http://www.pouet.net/gfx/os/k_java.gif'); }
.os_playstation { background: url('http://www.pouet.net/gfx/os/k_ps1.gif'); }
.os_commodore64 { background: url('http://www.pouet.net/gfx/os/k_commodore.gif'); }
.os_wild { background: url('http://www.pouet.net/gfx/os/k_wild.gif'); }
.os_amstradcpc { background: url('http://www.pouet.net/gfx/os/k_cpc.gif'); }
.os_amigappcrtg { background: url('http://www.pouet.net/gfx/os/k_amiga_ppc.gif'); }
.os_atarifalcon030 { background: url('http://www.pouet.net/gfx/os/k_atari_falcon.gif'); }
.os_gameboy { background: url('http://www.pouet.net/gfx/os/k_gameboy.gif'); }
.os_zxspectrum { background: url('http://www.pouet.net/gfx/os/k_zx.gif'); }
.os_macosx { background: url('http://www.pouet.net/gfx/os/k_macb.gif'); }
.os_macos { background: url('http://www.pouet.net/gfx/os/k_mac.gif'); }
.os_gameboyadvance { background: url('http://www.pouet.net/gfx/os/k_gba.gif'); }
.os_gameboycolor { background: url('http://www.pouet.net/gfx/os/k_gbc.gif'); }
.os_dreamcast { background: url('http://www.pouet.net/gfx/os/k_dreamcast.gif'); }
.os_snessuperfamicom { background: url('http://www.pouet.net/gfx/os/k_snes.gif'); }
.os_segagenesismegadrive { background: url('http://www.pouet.net/gfx/os/k_megadrive.gif'); }
.os_flash { background: url('http://www.pouet.net/gfx/os/k_flash.gif'); }
.os_oric { background: url('http://www.pouet.net/gfx/os/k_oric.gif'); }
.os_mobilephone { background: url('http://www.pouet.net/gfx/os/k_mobiles.gif'); }
.os_vic20 { background: url('http://www.pouet.net/gfx/os/k_vic20.gif'); }
.os_playstation2 { background: url('http://www.pouet.net/gfx/os/k_ps2.gif'); }
.os_ti8x { background: url('http://www.pouet.net/gfx/os/k_ti8x.gif'); }
.os_ataritt030 { background: url('http://www.pouet.net/gfx/os/k_tt.gif'); }
.os_acorn { background: url('http://www.pouet.net/gfx/os/k_acorn.gif'); }
.os_javascript { background: url('http://www.pouet.net/gfx/os/k_js.gif'); }
.os_alambik { background: url('http://www.pouet.net/gfx/os/k_alambik.gif'); }
.os_necturbografxpcengine { background: url('http://www.pouet.net/gfx/os/k_pce.gif'); }
.os_xbox { background: url('http://www.pouet.net/gfx/os/k_xbox.gif'); }
.os_palmos { background: url('http://www.pouet.net/gfx/os/k_palmos.gif'); }
.os_nintendo64 { background: url('http://www.pouet.net/gfx/os/k_n64.gif'); }
.os_c16116plus4 { background: url('http://www.pouet.net/gfx/os/k_c16.gif'); }
.os_pocketpc { background: url('http://www.pouet.net/gfx/os/k_pocketpc.gif'); }
.os_php { background: url('http://www.pouet.net/gfx/os/k_php.gif'); }
.os_msx { background: url('http://www.pouet.net/gfx/os/k_msx.gif'); }
.os_gameparkgp32 { background: url('http://www.pouet.net/gfx/os/k_gamepark32.gif'); }
.os_atarixlxe { background: url('http://www.pouet.net/gfx/os/k_atari_xl_xe.gif'); }
.os_intellivision { background: url('http://www.pouet.net/gfx/os/k_intellivision.gif'); }
.os_thomson { background: url('http://www.pouet.net/gfx/os/k_thomson.gif'); }
.os_appleiigs { background: url('http://www.pouet.net/gfx/os/k_iigs.gif'); }
.os_segamastersystem { background: url('http://www.pouet.net/gfx/os/k_mastersystem.gif'); }
.os_nesfamicom { background: url('http://www.pouet.net/gfx/os/k_nes.gif'); }
.os_gamecube { background: url('http://www.pouet.net/gfx/os/k_ngc.gif'); }
.os_gameparkgp2x { background: url('http://www.pouet.net/gfx/os/k_gp2x.gif'); }
.os_atarivcs { background: url('http://www.pouet.net/gfx/os/k_atari_vcs.gif'); }
.os_virtualboy { background: url('http://www.pouet.net/gfx/os/k_vb.gif'); }
.os_bk001011m { background: url('http://www.pouet.net/gfx/os/k_bk.gif'); }
.os_pokemonmini { background: url('http://www.pouet.net/gfx/os/k_pokemon.gif'); }
.os_segagamegear { background: url('http://www.pouet.net/gfx/os/k_gg.gif'); }
.os_vectrex { background: url('http://www.pouet.net/gfx/os/k_vectrex.gif'); }
.os_ios { background: url('http://www.pouet.net/gfx/os/k_ipod.gif'); }
.os_playstationportable { background: url('http://www.pouet.net/gfx/os/k_psp.gif'); }
.os_nintendods { background: url('http://www.pouet.net/gfx/os/k_ds.gif'); }
.os_atarijaguar { background: url('http://www.pouet.net/gfx/os/k_jag.gif'); }
.os_wonderswan { background: url('http://www.pouet.net/gfx/os/k_wonderswan.gif'); }
.os_neogeopocket { background: url('http://www.pouet.net/gfx/os/k_neogeopocket.gif'); }
.os_xbox360 { background: url('http://www.pouet.net/gfx/os/k_xbox360.gif'); }
.os_atarilynx { background: url('http://www.pouet.net/gfx/os/k_lynx.gif'); }
.os_c64dtv { background: url('http://www.pouet.net/gfx/os/k_dtv.gif'); }
.os_amstradplus { background: url('http://www.pouet.net/gfx/os/k_amplus.gif'); }
.os_freebsd { background: url('http://www.pouet.net/gfx/os/k_freebsd.gif'); }
.os_solaris { background: url('http://www.pouet.net/gfx/os/k_solaris.gif'); }
.os_spectravideo3x8 { background: url('http://www.pouet.net/gfx/os/k_sv.gif'); }
.os_appleii { background: url('http://www.pouet.net/gfx/os/k_apple2.gif'); }
.os_macosxintel { background: url('http://www.pouet.net/gfx/os/k_macosx.gif'); }
.os_playstation3 { background: url('http://www.pouet.net/gfx/os/k_ps3.gif'); }
.os_nintendowii { background: url('http://www.pouet.net/gfx/os/k_wii.gif'); }
.os_sgiirix { background: url('http://www.pouet.net/gfx/os/k_sgi.gif'); }
.os_bbcmicro { background: url('http://www.pouet.net/gfx/os/k_bbcmicro.gif'); }
.os_msx2 { background: url('http://www.pouet.net/gfx/os/k_msx2.gif'); }
.os_samcoup { background: url('http://www.pouet.net/gfx/os/k_samcoupe.gif'); }
.os_trs80coco { background: url('http://www.pouet.net/gfx/os/k_coco.gif'); }
.os_msxturbor { background: url('http://www.pouet.net/gfx/os/k_msxt.gif'); }
.os_enterprise { background: url('http://www.pouet.net/gfx/os/k_ent.gif'); }
.os_msx2plus { background: url('http://www.pouet.net/gfx/os/k_msx2p.gif'); }
.os_zx81 { background: url('http://www.pouet.net/gfx/os/k_zx81.gif'); }
.os_android { background: url('http://www.pouet.net/gfx/os/k_android.gif'); }
.os_mirc { background: url('http://www.pouet.net/gfx/os/k_mirc.gif'); }
.os_commodore128 { background: url('http://www.pouet.net/gfx/os/k_c128.gif'); }
.os_raspberrypi { background: url('http://www.pouet.net/gfx/os/k_raspi.gif'); }
.os_sharpmz { background: url('http://www.pouet.net/gfx/os/k_sharpmz.gif'); }
